* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}
svg {
    height: 450px;
    margin-top: 50px;
}
#Right-tree {
    animation: right-tree 2s infinite;
    animation-direction: alternate-reverse;
    transform-origin: bottom;
    transform-box: fill-box;
} 
@keyframes right-tree {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(12deg);
    }
}
#Left-tree {
    animation: left-tree 2s infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    transform-box: fill-box;
} 
@keyframes left-tree {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(12deg);
    }
}
#hair {
    animation: hair 2s infinite;
    animation-direction: alternate-reverse;
    transform-box: fill-box;
    transform-origin: bottom;
}
@keyframes hair {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(12deg);
    }
}